main{
    margin-top: 20px;
    & .encabezado{
        background-image: url(../images/fondo2.jpg);
        margin: 10px;
        & h1{
            font-family: $fuentetitulos;
            color: $color3;
            font-size: 50px;
            font-weight: bold;
            flex-wrap: wrap;
        }
    }
    & .seccion{
        background-color: $color1;
        background-image: linear-gradient(to right, $color1, $color2);
    }
    & aside{
        background-image: url(../images/fondo1.jpg);
        background-size: cover;
        height: 620px;
    }
}
